In [18]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("test.csv")

In [5]:
df.head()

,Unnamed: 0,data.obstime,data.ref_area,data.title,data.obsvalue
0,1,2007-05-01,AT,loans to corporations of up to EUR 1M (new bus...,933.0
1,2,2007-06-01,AT,loans to corporations of up to EUR 1M (new bus...,1099.0
2,3,2007-07-01,AT,loans to corporations of up to EUR 1M (new bus...,1162.0
3,4,2007-08-01,AT,loans to corporations of up to EUR 1M (new bus...,884.0
4,5,2007-09-01,AT,loans to corporations of up to EUR 1M (new bus...,1005.0

In [6]:
df.shape

(11922, 5)

In [7]:
df["data.obstime"].min()

'2005-01-01'

In [8]:
df["data.obstime"].max()

'2024-01-01'

In [11]:
df = df.set_index('Unnamed: 0')

In [12]:
df.columns = ["date","ref_area","title","obs_value"]

In [13]:
df.head()

,date,ref_area,title,obs_value
Unnamed: 0,,,,
1,2007-05-01,AT,loans to corporations of up to EUR 1M (new bus...,933.0
2,2007-06-01,AT,loans to corporations of up to EUR 1M (new bus...,1099.0
3,2007-07-01,AT,loans to corporations of up to EUR 1M (new bus...,1162.0
4,2007-08-01,AT,loans to corporations of up to EUR 1M (new bus...,884.0
5,2007-09-01,AT,loans to corporations of up to EUR 1M (new bus...,1005.0

In [16]:
df.isnull().sum(axis=0)

date           0
ref_area       0
title          0
obs_value    835
dtype: int64

"Which country has the most loans to corp over 1M"

In [47]:
sVars = np.unique(df.title)

In [25]:
df_ = df[df.title == 'loans to corporations of up to EUR 1M (new business)']
df_

,date,ref_area,title,obs_value
Unnamed: 0,,,,
1,2007-05-01,AT,loans to corporations of up to EUR 1M (new bus...,933.00
2,2007-06-01,AT,loans to corporations of up to EUR 1M (new bus...,1099.00
3,2007-07-01,AT,loans to corporations of up to EUR 1M (new bus...,1162.00
4,2007-08-01,AT,loans to corporations of up to EUR 1M (new bus...,884.00
5,2007-09-01,AT,loans to corporations of up to EUR 1M (new bus...,1005.00
...,...,...,...,...
7718,2023-08-01,U2,loans to corporations of up to EUR 1M (new bus...,51369.30
7719,2023-09-01,U2,loans to corporations of up to EUR 1M (new bus...,59574.90
7720,2023-10-01,U2,loans to corporations of up to EUR 1M (new bus...,63581.99
7721,2023-11-01,U2,loans to corporations of up to EUR 1M (new bus...,61656.49
7722,2023-12-01,U2,loans to corporations of up to EUR 1M (new bus...,69706.36

In [ ]:
df_["obs"] =

In [32]:
df_.isnull().sum(axis=0)

date           0
ref_area       0
title          0
obs_value    353
dtype: int64

In [31]:
df_.groupby(by=["ref_area"]).sum().sort_values("obs_value")

/var/folders/d6/3cp0f2_d3n5bhwwpxrw9v9nr0000gp/T/ipykernel_88244/652927561.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_.groupby(by=["ref_area"]).sum().sort_values("obs_value")

            obs_value
ref_area
MT            3736.48
LV            5374.74
CY           11780.00
LT           15552.37
EE           16246.93
SK           27768.56
SI           37247.78
GR           67033.00
IE           89707.00
FI          143669.00
LU          185642.00
AT          225323.00
NL          290959.00
PT          315345.03
BE         1177860.00
FR         1658570.00
DE         2318371.00
IT         2904820.00
ES         3242574.00
U2        12760395.57

In [41]:
df['missing'] = df["obs_value"].isnull()*1

In [42]:
df

,date,ref_area,title,obs_value,missing
Unnamed: 0,,,,,
1,2007-05-01,AT,loans to corporations of up to EUR 1M (new bus...,933.0,0
2,2007-06-01,AT,loans to corporations of up to EUR 1M (new bus...,1099.0,0
3,2007-07-01,AT,loans to corporations of up to EUR 1M (new bus...,1162.0,0
4,2007-08-01,AT,loans to corporations of up to EUR 1M (new bus...,884.0,0
5,2007-09-01,AT,loans to corporations of up to EUR 1M (new bus...,1005.0,0
...,...,...,...,...,...
11918,2023-09-01,U2,HICP - Overall index,4.3,0
11919,2023-10-01,U2,HICP - Overall index,2.9,0
11920,2023-11-01,U2,HICP - Overall index,2.4,0
11921,2023-12-01,U2,HICP - Overall index,2.9,0
11922,2024-01-01,U2,HICP - Overall index,2.8,0

In [43]:
df.groupby(by=["ref_area"]).mean().sort_values("obs_value")

/var/folders/d6/3cp0f2_d3n5bhwwpxrw9v9nr0000gp/T/ipykernel_88244/1017461712.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(by=["ref_area"]).mean().sort_values("obs_value")

             obs_value   missing
ref_area
MT           35.354768  0.353333
LV           74.842697  0.406667
CY           80.386965  0.041045
EE           98.458324  0.073379
LT          117.225050  0.000000
SI          263.686833  0.000000
SK          296.334366  0.026667
GR          436.290566  0.293333
IE         1057.877000  0.000000
PT         1060.655483  0.000000
FI         1107.177667  0.000000
LU         1545.969874  0.203333
AT         2960.506333  0.000000
NL         3706.461667  0.000000
BE         8081.537333  0.000000
FR         8697.331333  0.000000
IT        12907.523167  0.000000
ES        13309.849167  0.000000
DE        23626.510167  0.000000
U2        80530.290483  0.000000

In [51]:
gdf = df.groupby(by=["ref_area","title"]).mean()
gdf

/var/folders/d6/3cp0f2_d3n5bhwwpxrw9v9nr0000gp/T/ipykernel_88244/52367876.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gdf = df.groupby(by=["ref_area","title"]).mean()

                                                                 obs_value  \
ref_area title
AT       HICP - Overall index                                     2.699000
         loans to corporations of over EUR 1M (new busin...    7752.205000
         loans to corporations of up to EUR 1M (new busi...    1126.615000
BE       HICP - Overall index                                     2.417000
         loans to corporations of over EUR 1M (new busin...   18352.895000
         loans to corporations of up to EUR 1M (new busi...    5889.300000
CY       HICP - Overall index                                     1.674500
         loans to corporations of over EUR 1M (new busin...     190.875817
         loans to corporations of up to EUR 1M (new busi...      73.167702
DE       HICP - Overall index                                     2.235500
         loans to corporations of over EUR 1M (new busin...   59285.440000
         loans to corporations of up to EUR 1M (new busi...   11591.855000
EE       HICP - Overall index                                     4.466500
         loans to corporations of over EUR 1M (new busin...     242.150933
         loans to corporations of up to EUR 1M (new busi...      84.180984
ES       HICP - Overall index                                     1.972500
         loans to corporations of over EUR 1M (new busin...   23714.705000
         loans to corporations of up to EUR 1M (new busi...   16212.870000
FI       HICP - Overall index                                     2.138000
         loans to corporations of over EUR 1M (new busin...    2601.050000
         loans to corporations of up to EUR 1M (new busi...     718.345000
FR       HICP - Overall index                                     1.899000
         loans to corporations of over EUR 1M (new busin...   17797.245000
         loans to corporations of up to EUR 1M (new busi...    8292.850000
GR       HICP - Overall index                                     1.706000
         loans to corporations of over EUR 1M (new busin...     964.040984
         loans to corporations of up to EUR 1M (new busi...     657.186275
IE       HICP - Overall index                                     1.356000
         loans to corporations of over EUR 1M (new busin...    2723.740000
         loans to corporations of up to EUR 1M (new busi...     448.535000
IT       HICP - Overall index                                     2.084500
         loans to corporations of over EUR 1M (new busin...   24196.385000
         loans to corporations of up to EUR 1M (new busi...   14524.100000
LT       HICP - Overall index                                     4.272000
         loans to corporations of over EUR 1M (new busin...     269.641300
         loans to corporations of up to EUR 1M (new busi...      77.761850
LU       HICP - Overall index                                     2.303000
         loans to corporations of over EUR 1M (new busin...    6075.505495
         loans to corporations of up to EUR 1M (new busi...     992.737968
LV       HICP - Overall index                                     4.204000
         loans to corporations of over EUR 1M (new busin...     319.194687
         loans to corporations of up to EUR 1M (new busi...      58.421087
MT       HICP - Overall index                                     2.208000
         loans to corporations of over EUR 1M (new busin...      99.370521
         loans to corporations of up to EUR 1M (new busi...      40.613913
NL       HICP - Overall index                                     2.350000
         loans to corporations of over EUR 1M (new busin...    9662.240000
         loans to corporations of up to EUR 1M (new busi...    1454.795000
PT       HICP - Overall index                                     1.782000
         loans to corporations of over EUR 1M (new busin...    1603.459300
         loans to corporations of up to EUR 1M (new busi...    1576.725150
SI       HICP - Overall index                                     2.472000
         loans to corporations of over EUR 1M (new busin...     602.349600
         loans to corporations of up to EUR 1M (new busi...     186.238900
SK       HICP - Overall index                                     3.007000
         loans to corporations of over EUR 1M (new busin...     753.590156
         loans to corporations of up to EUR 1M (new busi...     144.627917
U2       HICP - Overall index                                     2.121000
         loans to corporations of over EUR 1M (new busin...  177786.772600
         loans to corporations of up to EUR 1M (new busi...   63801.977850

                                                              missing
ref_area title
AT       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000
BE       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000
CY       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.067073
         loans to corporations of up to EUR 1M (new busi...  0.063953
DE       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000
EE       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.193548
         loans to corporations of up to EUR 1M (new busi...  0.035000
ES       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000
FI       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000
FR       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000
GR       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.390000
         loans to corporations of up to EUR 1M (new busi...  0.490000
IE       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000
IT       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000
LT       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000
LU       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.545000
         loans to corporations of up to EUR 1M (new busi...  0.065000
LV       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.680000
         loans to corporations of up to EUR 1M (new busi...  0.540000
MT       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.520000
         loans to corporations of up to EUR 1M (new busi...  0.540000
NL       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000
PT       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000
SI       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000
SK       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.040000
         loans to corporations of up to EUR 1M (new busi...  0.040000
U2       HICP - Overall index                                0.000000
         loans to corporations of over EUR 1M (new busin...  0.000000
         loans to corporations of up to EUR 1M (new busi...  0.000000

In [45]:
df_imputed = df.copy()

In [48]:
sCountries = np.unique(df_imputed.ref_area)
sCountries

array(['AT', 'BE', 'CY', 'DE', 'EE', 'ES', 'FI', 'FR', 'GR', 'IE', 'IT',
       'LT', 'LU', 'LV', 'MT', 'NL', 'PT', 'SI', 'SK', 'U2'], dtype=object)

In [49]:
sVars

array(['HICP - Overall index',
       'loans to corporations of over EUR 1M (new business)',
       'loans to corporations of up to EUR 1M (new business)'],
      dtype=object)

In [65]:
for c in sCountries:
    for v in sVars:
        df_imputed.loc[ (df_imputed['missing']== 1) & 
                       (df_imputed.ref_area == c) & 
                       (df_imputed.title == v),'title'] = gdf.loc[(c,v),"obs_value"]

In [67]:
df_imputed.isnull().sum()

date           0
ref_area       0
title          0
obs_value    835
missing        0
dtype: int64